<!DOCTYPE html>
<html>
<head>
	<title>All Articles</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div class="grid">
		<div class="wrapper">
			<div class="box box1"><%= link_to "New", new_article_path %></div>
			<div class="box box2"></div>
			<div class="box box3"></div>
			<div class="box box4"></div>
		</div>
		<div class="content">
			
			<table>
				<tr>
					<th>Title</th>
					<th>Description</th>
				</tr>
				<% @articles.each do |article| %>
				<tr>
					<td><%= article.title %></td>
					<td><%= article.description %></td>
					<td><%= link_to 'Edit', edit_article_path(article) %></td>
					<td><%= link_to 'Show', article_path(article) %></td>
					<td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</body>
</html>